

<div class="todo-container container">
  <h2 class="text-center mb-4">ToDo List</h2>

  <div class="card todo-form mb-4">
    <div class="card-body">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="newTodo.title" placeholder="Название задачи" />
      </div>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="newTodo.description" placeholder="Описание задачи"></textarea>
      </div>
        <button class="btn btn-primary" (click)="addTodo()">Добавить</button>
    </div>
  </div>

  <div class="todo-list">
    <div class="card todo-item mb-3" *ngFor="let todo of todos; let i = index" [ngClass]="{'completed': todo.completed, 'grey-bg': todo.completed}">
      <div class="card-body">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodoCompletion(i)"/>
            <label class="form-check-label">
              <h3 class="card-title mb-1">{{ todo.title }}</h3>
              <p class="card-text mb-1">{{ todo.description }}</p>
            </label>
          </div>
            <button class="btn-lg btn-info  float-right" (click)="deleteTodo(i)">Удалить</button>
      </div>
    </div>
  </div>
</div>

  